@model LordMyCastle.Models.Troupes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Troupes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfanterieT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfanterieT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArcherT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArcherT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CavalerieT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CavalerieT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginSiegeT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginSiegeT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfanterieT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfanterieT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArcherT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArcherT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CavalerieT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CavalerieT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginSiegeT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginSiegeT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfanterieT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfanterieT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArcherT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArcherT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CavalerieT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CavalerieT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginSiegeT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginSiegeT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfanterieT4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfanterieT4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArcherT4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArcherT4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CavalerieT4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CavalerieT4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginSiege)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginSiege)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
