@model IEnumerable<LordMyCastle.Models.StatsMono>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomFormation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttaqueFormation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefenseFormation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMaxFormation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttaqueArmee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefenseArmee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMaxArmee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomFormation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttaqueFormation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefenseFormation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PvMaxFormation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttaqueArmee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefenseArmee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PvMaxArmee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
